.inline-block {
    display:inline-block;
    vertical-align: top;
}
div.logo{
text-align: center;
width: 23%;
padding: 1%;
}
nav{
    width:73%;
    padding:1%;
}
ul{
    width:50;
    margin-left: auto;

}